bgcolor = #fcfcfc
uploadcolor = #34a6ff
darkgrey = #444
basecolor = lightgrey
orange = #fe8800
blue = #34a6ff


#content
    padding: 2em

#file-list    

    .file 
        display block
        margin-left 20px
        margin-top 20px
        height 30px
        transition .2s ease-out
        -webkit-transition .2s ease-out

    a:link 
        text-decoration:none
        color: blue

    a:visited 
        text-decoration:none
        color: orange

    a:hover 
        text-decoration:underline

    a:active 
        text-decoration:underline
        color: orange

    a.flatbtn
        float: right
        text-align: left
        width: auto
        padding: 8px
        line-height: 16px
        font-size: 16px
        text-transform: lowercase

    a.flatbtn.active
        background-color: orange

#uploader
    margin-left 20px
    margin-top 20px
    margin-bottom 20px

#folder-list
    .folder 
        height 110px
        float left
        padding 10px

        a
            display block
            margin-right 10px
            box-sizing border-box
            border-radius 2px
            border 1px solid blue
            box-shadow 3px 3px 3px darkgrey
            transition .2s ease-out
            -webkit-transition .2s ease-out
            overflow hidden
            width 90px
            height 90px