#h4 #{model.name}
input#uploader(type="file")
input.input-block-level(type="text", value="", id="name", placeholder="Folder name")
button.add 
    i.icon-folder-close.icon-white
#content
    #files
    #folders